{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordsWorldWeb</title>
    <link rel="stylesheet" href="{% static 'flashcards/css/style.css' %}">
</head>

<body>
    <div class="hero-container">
        <h1 class="hero-title">Добро пожаловать в WordsWorldWeb!</h1>
        <p class="hero-subtitle">Начните изучать английские слова быстро и эффективно.</p>

        <button class="start-button" onclick="window.location.href='{% url 'topics' %}'">Начать учить слова</button>

        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <button class="auth-button" onclick="window.location.href='{% url 'progress' %}'">Мой прогресс</button>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="auth-button">Выйти</button>
                </form>
            {% else %}
                <button class="auth-button" onclick="window.location.href='{% url 'login' %}'">Войти</button>
                <button class="auth-button" onclick="window.location.href='{% url 'register' %}'">Зарегистрироваться</button>
            {% endif %}
        </div>
    </div>
</body>

</html>
