{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор тем</title>
    <link rel="stylesheet" href="{% static 'flashcards/css/style.css' %}">
</head>

<body>
    <div class="topic-container">
    <div class="topics-grid">
        {% for topic in topics %}
        <label class="topic-item">
            <input type="checkbox" value="{{ topic.name }}" id="topic_{{ forloop.counter }}">
            {{ topic.name }}
        </label>
        {% endfor %}
    </div>
    <button id="start-training">Начать тренировку</button>
</div>
<script src="{% static 'flashcards/js/topics.js' %}"></script>
</body>

</html>
