{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренировка</title>
    <link rel="stylesheet" href="{% static 'flashcards/css/style.css' %}">
</head>

<body>
    <div class="container training-container">
        <h1>Тренировка</h1>
        <div id="card-container"></div>
        <button id="next-button" class="nav-button" style="display: none;">Далее</button>
        <script id="card-data" type="application/json">
            {{ cards|safe }}
        </script>
    </div>
    <script src="{% static 'flashcards/js/training.js' %}"></script>
</body>

</html>
