/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

/* Основной контейнер */
.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Карточка */
#card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для текста на карточке */
#word, #transcription, #translation {
    font-size: 18px;
    margin: 10px 0;
}

/* Стили для заголовков */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Основные стили для кнопок */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Контейнер для навигационных кнопок */
.navigation-buttons {
    margin-top: 20px;
}
